:host {
  //width: 100%;
  //display: flex;
  //justify-content: center;
}

.snake {
  display: grid;
  grid-template-columns: repeat(auto-fill, 30px);
  grid-auto-rows: 30px;
  overflow: hidden;

  width: 100%;
  max-width: 620px;
  min-height: 500px;
  border: 5px solid #BD0034;
  background-color: rgb(27, 27, 29);
}
